<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>org.rioproject.examples</groupId>
    <artifactId>events</artifactId>
    <version>2.0</version>
    <packaging>pom</packaging>
    <name>Example :: Events</name>

    <scm>
        <connection>scm:svn:https://rio.dev.java.net/svn/rio/trunk/examples/events --username guest</connection>
        <developerConnection>scm:svn:https://rio.dev.java.net/svn/rio/trunk/examples/events --username username</developerConnection>
        <url>https://rio.dev.java.net/source/browse/rio/trunk/examples/events</url>
    </scm>

    <dependencies>

        <dependency>
            <groupId>org.rioproject</groupId>
            <artifactId>rio</artifactId>
            <version>${current-rio-version}</version>
        </dependency>

    </dependencies>

    <repositories>
        <repository>
            <id>rio</id>
            <url>http://www.rio-project.org/maven2</url>
        </repository>
    </repositories>

    <modules>
        <module>events-api</module>        
    </modules>

    <build>
        <plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-rio-plugin</artifactId>
                <version>4.1</version>
                <extensions>true</extensions>
                
                <executions>
                    <execution>
                        <id>build-oar</id>
                        <phase>package</phase>
                        <goals>
                            <goal>oar</goal>
                        </goals>
                    </execution>
                </executions>
                <configuration>
                    <opstring>${basedir}/src/main/opstring/events.groovy</opstring>
                </configuration>
            </plugin>                        
            
        </plugins>
    </build>


</project>

