/*
 * Distribution Statement
 * 
 * This computer software has been developed under sponsorship of the United States Air Force Research Lab. Any further
 * distribution or use by anyone or any data contained therein, unless otherwise specifically provided for,
 * is prohibited without the written approval of AFRL/RQVC-MSTC, 2210 8th Street Bldg 146, Room 218, WPAFB, OH  45433
 * 
 * Disclaimer
 * 
 * This material was prepared as an account of work sponsored by an agency of the United States Government. Neither
 * the United States Government nor the United States Air Force, nor any of their employees, makes any warranty,
 * express or implied, or assumes any legal liability or responsibility for the accuracy, completeness, or usefulness
 * of any information, apparatus, product, or process disclosed, or represents that its use would not infringe privately
 * owned rights.
 */
// jeri-astros-prv.config

// Imports
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;

sorcer.core.provider.ServiceProvider 
{
	// Service provider properties
    properties = "astros/jeri-astros-prv.properties";
	name = "Engineering-Astros";

	// java space
	//
	//spaceEnabled = true;
	spaceEnabled = false;
	matchInterfaceOnly = false;
	workerCount = 2;
	workerQueueSize = 0;
	maxWorkerPoolSize = 2;
	workerTransactional = true;
	
		
    // If not declared the default exporter is BasicJeriExporter
    // exporter = new JrmpExporter(0);
     //exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
	//exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance("10.131.5.217",0), new BasicILFactory());
    // Sorcer service beans exposed by this service provider
	//beans = new String[] { ... };
	
	publishedInterfaces = new Class[] { mil.afrl.mstc.engineering.astros.AstrosRemoteInterface.class };
	
	// Icon
	// iconName="astros_icon.jpg";

	// Remote Logging
	//remoteLogging = true;
	//remoteLoggerLevel = Level.ALL;
	//remoteContextLogging = true;
	//remoteProviderLogging = true;
}
//GEN-BEGIN Do not remove
/*
 * Generated by ConfigBuilder
 *
 * WARNING: Do NOT modify this code. The content of this configuration may
 * be regenerated by the ConfigBuilder.
 */
sorcer.core.exertion.deployment {
    interfaces = new String[]{"mil.afrl.mstc.engineering.astros.AstrosRemoteInterface"};

    codebase = new String[]{"mil.afrl.mstc.engineering:astros-api:1.0"};

    implJars = new String[]{"mil.afrl.mstc.engineering:astros-provider:1.0"};

    providerClass = "mil.afrl.mstc.engineering.provider.astros.AstrosProviderImpl";

    serviceConfig = "/Volumes/MSTC/projects/engineering/apps/astros/provider/configs/jeri-astros-prv.config";

    fork = Boolean.valueOf(true);

    jvmArgs = "-Xms128m -Xmx1024m -Xss512m";

    perNode = 1;

    ips = new String[]{"10.0.1.23"};
}
