<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="LOG_PATTERN">%highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=cyan, TRACE=blue} %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %style{%-30.30c{1.}}{cyan} : %m%n</Property>
        <Property name="LOG_DIR">${sys:rio.log.dir}</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <RollingFile name="rollingFile"
                     fileName="${LOG_DIR}/${sys:org.rioproject.service}.log"
                     filePattern="${LOG_DIR}/${sys:org.rioproject.service}-%d{yyyy-MM-dd}.log"
                     immediateFlush="false">
            <PatternLayout>
                <pattern>%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

    </Appenders>


    <Loggers>
        <Logger name="org.rioproject.cybernode" level="info" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="rollingFile" />
        </Logger>
        <Logger name="org.rioproject.monitor" level="info" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="rollingFile" />
        </Logger>
        <Logger name="net.jini" level="info" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="rollingFile" />
        </Logger>
        <Logger name="com.sun.jini" level="debug" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="rollingFile" />
        </Logger>

        <Root level="info" additivity="false" includeLocation="false">
            <AppenderRef ref="console" />
            <appender-ref ref="rollingFile" />
        </Root>
    </Loggers>

</Configuration>